@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 
  html,body {
    height: 100vh;
    font-family: 'Playfair Display SC', serif;
    --cor-font: rgb(255,255,255);
    --cor-tema1: #0433BF;
    --cor-tema2: #0D378C;
    --cor-unique:#174FBF;
    --cor-base1: #27A4F2;
    --cor-base2: #23C7D9;
  }
  
  body {
    
    background-image: url("https://picsum.photos/id/10/1768/768");
    
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1#logo {
    position: relative;
    top: 100px;
    color: var(--cor-unique);
  }
  form {
    opacity: .9;
    text-align: left;
    margin: 100px 0;
    background-color: var(--cor-unique);
    padding: 40px 25px;
    border-radius: 14px;
    
  }
  
  form .bloco {
    margin-bottom: 20px;
  }
  
  form .bloco label {
    font-size: 20px;
    color: var(--cor-font);
  }
  
  form .bloco input {
    border-radius: 13px;
    transition: .5s;
    opacity: .6;
    background-color: var(--cor-tema1);
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: var(--cor-font);
    border-radius: 0,5px;
    border: 1px solid var(--cor-unique);
    outline-color:   var(--cor-tema1);
  }
  form .bloco input:hover {
    background-color: var(--cor-tema2);
  }
  
  form .btn {
    font-size: 17px;
    display: block;
    min-width: 120px;
    border: none;
    background-color: var(--cor-tema1);
    color: var(--cor-font);
    border-radius: 25px;
    margin: auto;
    padding: 7px;
    transition: 1s;
  }
  form .btn:hover, a#cadastro:hover {
      background-color: var(--cor-tema2);
  }
  a#cadastro {
      text-align: center;
      top: 19px;
      padding: 8px;
      padding-left: 17px;
      padding-right: 17px;
      transition: 1s;
      font-size: 17px;
      position: relative;
      text-align: center;
      text-decoration: none;
      color: var(--cor-font);
      border-radius: 25px;
      background-color: var(--cor-tema1);
  }
  footer {
      text-align: center;
      color: var(--cor-font);
      padding-bottom: 10px;
  }
  footer a {
      text-decoration: none;
      color: var(--cor-font);
  }
  footer a:hover {
      text-decoration: underline;
  }